@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach (Product prod in Model)
            {
                <div><a href="/Coffee/Detail?pr=@prod.id">@prod.name</a></div>
            }

